<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "meta.html" . }}
{{ partial "header.includes.html" . }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{ `<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->` | safeHtml }}
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- RSS -->
    {{ if .RSSlink }}<link rel="alternate" type="application/rss+xml" title="{{ .Title }}" href="{{ .RSSlink }}" />{{ end }}
</head>
