    <link type="text/css" href="{{ .Site.BaseUrl }}/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="{{ .Site.BaseUrl }}/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link type="text/css" href="{{ .Site.BaseUrl }}/css/font-awesome.min.css" rel="stylesheet"/>
    <link type="text/css" href="{{ .Site.BaseUrl }}/css/persona_icon.css" rel="stylesheet"/>
    <link type="text/css" href="{{ .Site.BaseUrl }}/css/style.css" rel="stylesheet"/>
    <link type="text/css" href="{{ .Site.BaseUrl }}/css/responsive.css" rel="stylesheet"/>