<!DOCTYPE html>
<html lang="en">
 <head>
{{ template "theme/persona/partial/meta.html" . }}
{{ template "theme/persona/partial/header.includes.html" . }}
   <title>{{ .Title }} | {{ .Site.Title }}</title>
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
   <link rel="canonical" href="{{ .Permalink }}">
   {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}
</head>
