
                        <section class="left_sidebar_content_area">
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <form action="#" method="post">
                                                                <div class="search_box">
                                                                        <i class="fa fa-search"></i>
                                                                        <input type="text" placeholder="Search Here..." name="search"/>
                                                                </div>
                                                        </form>
                                                </div>
                                        </div>
                                </div>
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <div class="right_menu_area">
                                                                <ul class="nav nav-pills nav-stacked">
                                                                        <li><a href="/index.html">Home</a></li>
                                                                        <li>
                                                                                <a href="#">Filter</a>
                                                                                <ul>
                                                                                        <li><a href="#">Audio</a></li>
                                                                                        <li><a href="#">Chat</a></li>
                                                                                        <li><a href="#">Photo</a></li>
                                                                                        <li><a href="#">Gallery</a></li>
                                                                                        <li><a href="#">Quote</a></li>
                                                                                        <li><a href="#">Text</a></li>
                                                                                        <li><a href="#">Video</a></li>
                                                                                </ul>
                                                                        </li>
                                                                        <li>
                                                                                <a href="#">Page</a>
                                                                                <ul>
                                                                                        <li><a href="columns.html">Columns Fullwidth</a></li>
                                                                                        <li><a href="columns_Variant.html">Columns</a></li>
                                                                                </ul>
                                                                        </li>
                                                                        <li><a href="shortcode.html">Shortcode</a></li>
                                                                        <li><a href="#">Archives</a></li>
                                                                        <li><a href="#">Contact</a></li>
                                                                </ul>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <div class="right_social_area">
                                                                <a href="#"> <i class="icon icon-twitter"></i></a>
                                                                <a href="#"> <i class="icon icon-dribbble"></i></a>
                                                                <a href="#"> <i class="icon icon-rss"></i></a>
                                                                <a href="#"> <i class="icon icon-facebook-squared"></i></a>
                                                                <a href="#"> <i class="icon icon-vimeo"></i></a>
                                                                <a href="#"> <i class="icon icon-skype"></i></a>
                                                                <a href="#"> <i class="icon icon-pinterest"></i></a>
                                                                <a href="#"> <i class="icon icon-github"></i></a>
                                                                <a href="#"> <i class="icon icon-lastfm"></i></a>
                                                                <a href="#"> <i class="icon icon-gplus"></i></a>
                                                                <a href="#"> <i class="icon icon-instagrem"></i></a>
                                                                <a href="#"> <i class="icon icon-dropbox"></i></a>
                                                                <a href="#"> <i class="icon icon-behance"></i></a>
                                                                <a href="#"> <i class="icon icon-vkontakte"></i></a>
                                                                <a href="#"> <i class="icon icon-evernote"></i></a>
                                                                <a href="#"> <i class="icon icon-picasa"></i></a>
                                                                <a href="#"> <i class="icon icon-flickr"></i></a>
                                                                <a href="#"> <i class="icon icon-droplet"></i></a>
                                                                <a href="#"> <i class="icon icon-stumbleupon"></i></a>
                                                                <a href="#"> <i class="icon icon-soundcloud"></i></a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <div class="text_widget twitter_widget">
                                                                <h2>Twitter feeds</h2>
                                                                <div class="single_tweets">
                                                                        <h3><a href="#">@HeyDesigner</a></h3>
                                                                        <p>Sketchcasts - A weekly screencast covering Sketch</p>
                                                                        <a href="http://t.co/e5DEW3s">http://t.co/e5DEW3s</a>
                                                                        <span>26 Feb 2014</span>
                                                                </div>
                                                                <div class="single_tweets">
                                                                        <h3><a href="#">@mate_ciao</a></h3>
                                                                        <p>Utinam putant elige. </p>
                                                                        <a href="http://t.co/e3q0ZW2OOr">http://t.co/e3q0ZW2OOr</a>
                                                                        <span>26 Feb 2014</span>
                                                                </div>
                                                                <a href="" class="btn btn-default twitter_btb">Follow on Twitter</a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <div class="flickr_widget">
                                                                <h2>Flickr Widget</h2>
                                                                <div>
                                                                        <a href="#"><img src="images/thumbnail.jpg" alt="Title" /></a>
                                                                        <a href="#"><img src="images/p2.jpg" alt="Title" /></a>
                                                                        <a href="#"><img src="images/p3.jpg" alt="Title" /></a>
                                                                        <a href="#"><img src="images/p4.jpg" alt="Title" /></a>
                                                                        <a href="#"><img src="images/p5.jpg" alt="Title" /></a>
                                                                        <a href="#"><img src="images/p22.jpg" alt="Title" /></a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <div class="dribble_widget">
                                                                <h2>Dribbble Widget</h2>
                                                                <div>
                                                                        <a href="#"><img src="images/dribble.jpg" alt="Title" /></a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <div class="text_widget">
                                                                <h2>Text Widget</h2>
                                                                <p>Ad eam iriure impetus convenire, quo eu virtute officiis. Pri te illum malis voluptatibus.</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <div class="tag_area">
                                                                <h2>Tag</h2>
                                                                <div>
                                                                        <a href="">Hello</a>
                                                                        <a href="">Ciao.</a>
                                                                        <a href="">Hi</a>
                                                                        <a href="">Howdy.</a>
                                                                        <a href="">Hy.</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="sidebar_single_module">
                                        <div class="sidebar_wraper">
                                                <div class="sidebar_inner">
                                                        <div class="text_widget copy_right">
                                                                <h2>&copy; 2014 by János Fehér</h2>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </section>