            <div class="home_single_post">
              <div class="post_content_area">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                    <div class="single_post_content">
                      <div class="post_author_widgets">
                        <img src="/images/p1.jpg" alt=""/>
                          <div>
                            <h2>Mario Maruffi</h2>
                            <p>I'm a web designer based in the ITALY. I love my job.  I try to design clean, good and easy-to-use web-interfaces that works. </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>