    <section class="profile_area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="profile_inner">
              <div class="profile_picture"><a href="#"><img src="images/p1.jpg" alt="title" /></a></div>
              <h2><a href="">János Fehér</a></h2>
              <p>Community in London with a Tern folding bicycle.</p>
              <div class="social_icon">
                <a href="" class="fa fa-twitter"></a>
                <a href="" class="fa fa-facebook-square"></a>
                <a href="" class="fa fa-dribbble"></a>
                <a href="" class="fa fa-rss"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>